.container {
    .imageContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .pagination {
        display: flex;
        justify-content: center;
    }
}
